<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% assets "css" %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ ASSET_URL }}" />
    {% endassets %}

</head>
<body>
    <div class="container">


        <h1>Beer list</h1>
        <p>Test bla bla bla</p>

    </div>

    <script type="text/template" id="beer_table_template">
        <thead>
            <tr>
                <th>Brewery</th>
                <th>Beer</th>
                <th>ABV</th>
                <th>Score</th>
                <th>Amount (bottles)</th>
                <th>
                    <button id="add" type="button" class="btn">Legg til</button>
                </th>
            </tr>
        </thead>        
        <tbody>
        </tbody>
    </script>

    <script type="text/template" id="beer_row_template">
        <td><%= brewery %></td>
        <td><%= name %></td>
        <td><%= abv %></td>
        <td><%= score %></td>
        <td><%= amount %></td>
        <td>
            <button id="delete" class="btn btn-danger" type="button">Slett</button>
            <button id="edit" class="btn" type="button">Endre</button>
        </td>
    </script>

    <script type="text/template" id="beer_edit_template">
        <td><input name="brewery" type="text" value="<%= brewery %>"></td>
        <td><input name="name" type="text" value="<%= name %>"></td>
        <td><input name="abv" type="text" value="<%= abv %>"></td>
        <td><input name="score" type="text" value="<%= score %>"></td>
        <td><input name="amount" type="text" value="<%= amount %>"></td>
        <td><button id="save" type="button" class="btn btn-primary">Lagre</button></td>
    </script>

    


    {% assets "javascript" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript">

    //anonym selv-eksekverende funksjon
    //(så vi ikke søpler til global namespace)
    (function () {
        //bootstrap inn øl-lista som et json-array
        //via server-side-templating
        var beerJson = {{beers | safe}};

        //lag en Beers-collection
        var beers = new BL.Beers(beerJson);

        //lage et BeerTableView
        var beerTableView = new BL.BeerTableView({
            //gi dette en collection by default
            collection: beers
        });

        //render viewet ig sett det inn i DOMen
        $('.container').append(beerTableView.render().$el);
    }());


    </script>

</body>
</html>